.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__eo8H0 {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-self: flex-start;
  background: none;
  margin-top: 32px;
  margin-left: 0px;
  margin-right: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__rGyS7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 90%;
  background: #ffffff40;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  min-width: 0;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 100px;
  padding: 8px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.link__kugtq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__z2Kzs {
  object-fit: cover;
  height: 52px;
}
.img__z2Kzs > picture > img {
  object-fit: cover;
}
.img___2Ee0E {
  object-fit: cover;
}
.img___2Ee0E > picture > img {
  object-fit: cover;
}
.img___8AfW {
  object-fit: cover;
}
.img___8AfW > picture > img {
  object-fit: cover;
}
.link__sW0DJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.svg__upSgn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #0056ff;
  flex-shrink: 0;
}
.link___8Q603 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.svg__fSkf4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #0056ff;
  flex-shrink: 0;
}
.link__aAOl2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.svg__ztyoT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #0056ff;
  flex-shrink: 0;
}
.section__xWoaY {
  display: grid;
  position: relative;
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/otterworld/images/header1Jpg.jpg") 0% 0% / contain no-repeat;
  height: 800px;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__xWoaY > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xWoaY {
    height: 800px;
    justify-items: center;
    align-content: flex-end;
    background: url("/plasmic/otterworld/images/header1Jpg.jpg") 0% 0% / cover no-repeat;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xWoaY > * {
    grid-column: 4;
  }
}
.freeBox__d0IEh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 800px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.img___8Sf1Q {
  object-fit: contain;
  width: auto;
  left: 900px;
  top: auto;
  z-index: 1;
  position: absolute;
  right: -250px;
  height: auto;
  bottom: 0px;
}
.img___8Sf1Q > picture > img {
  object-fit: contain;
}
.freeBox___5SCng {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5SCng {
    height: 100%;
    min-height: 0;
  }
}
.img___5I3HI {
  object-fit: cover;
  max-width: 60%;
}
.img___5I3HI > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___5I3HI {
    max-width: 100%;
  }
}
.img__eejl1 {
  object-fit: cover;
  max-width: 50%;
  position: absolute;
  left: auto;
  top: 8px;
}
.img__eejl1 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eejl1 {
    max-width: 100%;
    top: 201px;
  }
}
.freeBox___26MAq {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 120px;
  max-width: 100%;
  left: auto;
  top: auto;
  bottom: 0px;
  background: url("/plasmic/otterworld/images/button1Png.png") top 50% left 50% / contain no-repeat;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___26MAq {
    max-width: 60%;
    margin-bottom: 100px;
  }
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  min-width: 0;
}
.img__sgmcb {
  object-fit: contain;
  width: auto;
  height: auto;
  left: -250px;
  top: auto;
  z-index: 1;
  position: absolute;
  right: 900px;
  bottom: 0px;
}
.img__sgmcb > picture > img {
  object-fit: contain;
}
.section__n5Zyj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 72px 0;
}
.section__n5Zyj > * {
  grid-column: 4;
}
.columns__pm2Hj {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px 24px;
}
.columns__pm2Hj > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pm2Hj > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pm2Hj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pm2Hj > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xOouk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__ha3Pu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__buigq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
  border-radius: 12px;
}
.img__buigq > picture > img {
  object-fit: cover;
}
.column__aFmQv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__aFmQv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__aFmQv > :global(.__wab_flex-container) > *,
.column__aFmQv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__aFmQv > :global(.__wab_flex-container) > picture > img,
.column__aFmQv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal__zr45J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rdpup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rdpup > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rdpup > :global(.__wab_flex-container) > *,
.freeBox__rdpup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdpup > :global(.__wab_flex-container) > picture > img,
.freeBox__rdpup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__jvXnT {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.h4__ht320 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #686868;
  font-weight: 400;
  min-width: 0;
}
.section___1Nyr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 92px 0;
}
.section___1Nyr > * {
  grid-column: 4;
}
.freeBox__bejzL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 42px 8px;
}
.freeBox__bejzL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bejzL > :global(.__wab_flex-container) > *,
.freeBox__bejzL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bejzL > :global(.__wab_flex-container) > picture > img,
.freeBox__bejzL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4___2Tkk8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.h1__h1Pan {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: center;
  min-width: 0;
}
.columns___7VoMb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___7VoMb > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns___7VoMb > :global(.__wab_flex-container) > *,
.columns___7VoMb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___7VoMb > :global(.__wab_flex-container) > picture > img,
.columns___7VoMb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns___7VoMb > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___7VoMb > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___7VoMb > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7VoMb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7VoMb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 42px);
    height: calc(100% + 42px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7VoMb > :global(.__wab_flex-container) > *,
  .columns___7VoMb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___7VoMb > :global(.__wab_flex-container) > picture > img,
  .columns___7VoMb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 42px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7VoMb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___6PRnW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/otterworld/images/woodFeaturepng.png") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 80px 38px 38px;
}
.freeBox__fo1Hq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fo1Hq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__fo1Hq > :global(.__wab_flex-container) > *,
.freeBox__fo1Hq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fo1Hq > :global(.__wab_flex-container) > picture > img,
.freeBox__fo1Hq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__bJo6L {
  text-align: center;
  color: #ffffff;
}
.text__pCxql {
  position: relative;
  color: #ffffff;
  text-align: center;
}
.img__b0TL {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: -100px;
}
.img__b0TL > picture > img {
  object-fit: cover;
}
.column__wnu6A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/otterworld/images/woodFeaturepng.png") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 80px 38px 38px;
}
.freeBox__xcCgp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xcCgp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xcCgp > :global(.__wab_flex-container) > *,
.freeBox__xcCgp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xcCgp > :global(.__wab_flex-container) > picture > img,
.freeBox__xcCgp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__drfQq {
  text-align: center;
  color: #ffffff;
  padding-bottom: 0px;
}
.text__oN0NJ {
  position: relative;
  color: #ffffff;
  text-align: center;
}
.img__wWp9 {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: -100px;
}
.img__wWp9 > picture > img {
  object-fit: cover;
}
.column___6FahF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/otterworld/images/woodFeaturepng.png") top 50% left 50% / cover no-repeat;
  min-width: 0;
  padding: 80px 38px 38px;
}
.freeBox__rjmfP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rjmfP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rjmfP > :global(.__wab_flex-container) > *,
.freeBox__rjmfP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjmfP > :global(.__wab_flex-container) > picture > img,
.freeBox__rjmfP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__wxCO {
  text-align: center;
  color: #ffffff;
}
.text___1CcQx {
  position: relative;
  color: #ffffff;
  text-align: center;
}
.img__yem5D {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: -100px;
}
.img__yem5D > picture > img {
  object-fit: cover;
}
.section__wr0Su {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  background: url("/plasmic/otterworld/images/header2Jpg.jpg") 0% 0% / cover no-repeat;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 92px 0;
}
.section__wr0Su > * {
  grid-column: 4;
}
.columns__nyKw5 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px 24px;
}
.columns__nyKw5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__nyKw5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nyKw5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nyKw5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ubVAy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__okjq4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__pNhdt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
  border-radius: 12px;
}
.img__pNhdt > picture > img {
  object-fit: cover;
}
.column__dhmxm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__dhmxm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__dhmxm > :global(.__wab_flex-container) > *,
.column__dhmxm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__dhmxm > :global(.__wab_flex-container) > picture > img,
.column__dhmxm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.reveal__ejAfj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oJtPr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oJtPr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__oJtPr > :global(.__wab_flex-container) > *,
.freeBox__oJtPr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oJtPr > :global(.__wab_flex-container) > picture > img,
.freeBox__oJtPr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.freeBox__lKZM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lKZM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__lKZM > :global(.__wab_flex-container) > *,
.freeBox__lKZM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lKZM > :global(.__wab_flex-container) > picture > img,
.freeBox__lKZM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img___1Nwv6 {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.img___1Nwv6 > picture > img {
  object-fit: cover;
}
.freeBox__k0RpO {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.freeBox__k0RpO > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__k0RpO > :global(.__wab_flex-container) > *,
.freeBox__k0RpO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k0RpO > :global(.__wab_flex-container) > picture > img,
.freeBox__k0RpO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h4__qBkqr {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.h6__gUl7Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.freeBox___54E4O {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___54E4O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___54E4O > :global(.__wab_flex-container) > *,
.freeBox___54E4O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___54E4O > :global(.__wab_flex-container) > picture > img,
.freeBox___54E4O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__dgzl9 {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.img__dgzl9 > picture > img {
  object-fit: cover;
}
.freeBox___36Vij {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.freeBox___36Vij > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___36Vij > :global(.__wab_flex-container) > *,
.freeBox___36Vij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___36Vij > :global(.__wab_flex-container) > picture > img,
.freeBox___36Vij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h4__n9KHd {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.h6__mH96R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.freeBox___5Uz12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5Uz12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___5Uz12 > :global(.__wab_flex-container) > *,
.freeBox___5Uz12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Uz12 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Uz12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__zf1Hl {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.img__zf1Hl > picture > img {
  object-fit: cover;
}
.freeBox__adAd2 {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.freeBox__adAd2 > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__adAd2 > :global(.__wab_flex-container) > *,
.freeBox__adAd2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__adAd2 > :global(.__wab_flex-container) > picture > img,
.freeBox__adAd2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h4___0RRl6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.h6__v0Lv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.freeBox__nhUz4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nhUz4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__nhUz4 > :global(.__wab_flex-container) > *,
.freeBox__nhUz4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nhUz4 > :global(.__wab_flex-container) > picture > img,
.freeBox__nhUz4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__kcccC {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
}
.img__kcccC > picture > img {
  object-fit: cover;
}
.freeBox__nGof9 {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.freeBox__nGof9 > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__nGof9 > :global(.__wab_flex-container) > *,
.freeBox__nGof9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGof9 > :global(.__wab_flex-container) > picture > img,
.freeBox__nGof9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h4__dcgId {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.h6__nLtk3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  min-width: 0;
}
.section__vxmSq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index: 1;
  grid-row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 72px 0;
}
.section__vxmSq > * {
  grid-column: 4;
}
.h1__wgSpk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__cvZqd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__cvZqd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__cvZqd > :global(.__wab_flex-container) > *,
.freeBox__cvZqd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cvZqd > :global(.__wab_flex-container) > picture > img,
.freeBox__cvZqd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cvZqd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cvZqd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cvZqd > :global(.__wab_flex-container) > *,
  .freeBox__cvZqd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cvZqd > :global(.__wab_flex-container) > picture > img,
  .freeBox__cvZqd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.img__uLla {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uLla > picture > img {
  object-fit: cover;
}
.img__pG1Wo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pG1Wo > picture > img {
  object-fit: cover;
}
.img__gfbMw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gfbMw > picture > img {
  object-fit: cover;
}
.img___7I2B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___7I2B > picture > img {
  object-fit: cover;
}
.section__rAa1L {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  background: #ffffff;
  z-index: 1;
  min-height: 500px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rAa1L > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rAa1L {
    background: url("/plasmic/otterworld/images/ctaOtterMinpng.png") bottom 0% right 27% / cover no-repeat;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rAa1L > * {
    grid-column: 4;
  }
}
.freeBox__lBXqY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/otterworld/images/bakcground2Minjpg.jpg") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 72px 32px;
}
.freeBox__vbJ7Y {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vbJ7Y > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__vbJ7Y > :global(.__wab_flex-container) > *,
.freeBox__vbJ7Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vbJ7Y > :global(.__wab_flex-container) > picture > img,
.freeBox__vbJ7Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__zfB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  text-align: left;
  margin-bottom: 0px;
  min-width: 0;
}
.h6__zUdl4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
}
.img__cgVjr {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  position: absolute;
  left: 570px;
  top: 12px;
}
.img__cgVjr > picture > img {
  object-fit: cover;
}
.section__vveD9 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 72px 0;
}
.section__vveD9 > * {
  grid-column: 4;
}
.columns__fawW1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__fawW1 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__fawW1 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__fawW1 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fawW1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fawW1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mJW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.img__yavvI {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__yavvI > picture > img {
  object-fit: cover;
}
.text__oz4Jv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__z962B {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__z962B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__z962B > :global(.__wab_flex-container) > *,
.freeBox__z962B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z962B > :global(.__wab_flex-container) > picture > img,
.freeBox__z962B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.link__ucPmI {
  display: flex;
}
.svg__xsOnI {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.link__uaGmN {
  display: flex;
}
.svg___4PNqK {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.link__cNWkC {
  display: flex;
}
.svg__zTvN {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.column___0HtGc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__nndYs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vGnpw {
  object-fit: cover;
  max-width: 100%;
}
.img__vGnpw > picture > img {
  object-fit: cover;
}
